.App {
  text-align: center;
  color: seashell;
}

.App-header {
  background-color: grey;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: seashell;
  padding-left: 40px;
  padding-right: 40px;
  border-style: solid;
  border-width: 2px;
}

body {
  background-color: #282c34;
}

.button{
  color: seashell;
  background-color: grey;
  border-style: outset;
  padding: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.buttonsCollection{
  padding-top: 20px;
  padding-bottom: 20px;
}